.customer-preview {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    flex-wrap: wrap;
    &:hover {
        background-color: #00000024;
    }
    span {
        @include for-narrow-layout {
            font-size: 0.8rem;
        }
        @include for-mobile-layout {
            font-size: 0.6rem;
        }
    }
    .first-name,
    .last-name {
        font-family: roboto-bold;
        font-size: 1.2rem;
        @include for-narrow-layout {
            font-size: 1rem;
        }
    }
    .gender, .phone {
        font-size: 0.7rem;
    }
    .address {
        font-style: italic;
        font-size: 0.6rem;
    }
}
