.transaction-list {
    overflow: auto;
    max-height: 85vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .transaction-list-head {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        position: sticky;
        top: 0;
        background-color: darken($mainColor, 10);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 24px;
        span {
            text-transform: capitalize;
            font-family: roboto-bold;
            @include for-mobile-layout {
                font-size: 0.6rem;
            }
        }
    }
}
