.app-header {
    padding-block: 1rem;
    color: $mainColor;
    background-color: $blueClr;
    h1 {
        font-size: 1.5rem;
        @include for-mobile-layout {
            font-size: 1.2rem;
            max-width: 20ch;
        }
    }
    a {
        font-size: 1.2rem;
        @include for-mobile-layout {
            font-size: 1rem;
        }
    }
    .inputLabel {
        color: "lightgray";
    }
    .MuiInputLabel-animated {
        padding-inline-start: 10px;
    }
}
