.modal-data {
    padding: 1rem;
    gap: 1rem;
    span {
        padding:  0.5rem 1rem;
        border-bottom: 1px solid $mainColor;
    }
}

.MuiBox-root-6 {
    @include for-mobile-layout {
        width: 350px !important;
    }
}
